.chart-canvas {
   
    height: 400px;
}

body {
	font-family: Arial, sans-serif;
}

#todo-container {
	margin: auto;
	width: 50%;
	text-align: center;
}

#todo-list {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	background-color: #f2f2f2;
}

li:hover {
	background-color: #ddd;
	cursor: pointer;
}

#add-button {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}

#add-button:hover {
	background-color: #3e8e41;
}
