.tasks {
  width: 70%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.tasks table {
  width: 100%;
  border-collapse: collapse;
}

.tasks th,
.tasks td {
  padding: 10px;
  text-align: left;
}

.tasks th {
  font-weight: 600;
}

.tasks tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tasks tbody tr:hover {
  background-color: #e0e0e0;
}

.tasks tbody td:last-child {
  text-transform: capitalize;
}

.add-task-button {
  display: inline-block;
  height: 42px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-task-button:hover {
  background-color: #0056b3;
}

.student-list {
  margin: 20px;
}

#studentTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

#studentTable th,
#studentTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#studentTable th {
  background-color: #f2f2f2;
}
.faculty-list {
  margin: 20px;
}

#facultyTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

#facultyTable th,
#facultyTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#facultyTable th {
  background-color: #f2f2f2;
}


p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin: 10px;
}

.chart-container {
  display: flex;
}
.chart {
  flex: 5;
  margin-right: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: white;
}
.hidden {
  display: none;
}
