.note-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
}

.note-table th,
.note-table td {
  padding: 10px;
  width: 100px;
  text-align: left;
}

.note-table th {
  background-color: #f2f2f2;
}

.note-table tbody tr:hover {
  background-color: #f5f5f5;
}
