.student-profile {
  padding: 15px;
  width: 80%;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: #000 solid 1px;
  margin: 40px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  background-color: #f7f7f7;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.student_details {
  list-style-type: none;
}
