<!DOCTYPE html>
<html>
<head>
    <title>Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='attendance-style.css') }}" />
</head>
<body>
    <h1>Day-wise Attendance</h1>
    <div>
        <form method="GET" action="/attendance">
            <select name="day" id="day">
                {% for day in days %}
                    <option value="{{ day }}" {% if day == selected_day %} selected="selected"{% endif %}>{{ day }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Student ID</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            {% for student_id, attendance_status in attendance_data.items() %}
                <tr>
                    <td>{{ selected_day }}</td>
                    <td>{{ student_id }}</td>
                    <td>{{ attendance_status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
