<!DOCTYPE html>
<html>
  <head>
    <title>StudentSpace</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/courses-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="StudentSpace">

      <div class="header">
        <div class="left-section">StudentSpace.</div>
        <div class="middle-section">
          <input class="search-bar" type="text" placeholder="Search" />
          <img class="search-icon" src="../assets/search.png" />
        </div>
        <div class="right-section">
          <div class="notification-icon">
            <img class="rs-notification" src="../assets/notification.png" />
          </div>
          <div class="settings-icon">
            <img class="rs-settings" src="../assets/settings.png" />
          </div>
        </div>
      </div>

      <div class="sidebar">
        <div class="sidebar-tabs"><a href="profile.html">My Profile</a></div>
        <div class="sidebar-tabs"><a href="courses.html">Courses</a></div>
        <div class="sidebar-tabs">
          <a href="templates/perfomance.html">Perfomance</a>
        </div>
        <div class="sidebar-tabs">
          <a href="attendance.html">Attendance</a>
        </div>
        <div class="sidebar-tabs"><a href="notes.html">Notes</a></div>
      </div>

      <!-- melithe randum nereathe kandath thanne copy paste aanu -->


      <div class="main-section">
        <ul class="course-list">
          <li>DATA ANALYTICS</li>
          <li>INDUSTRIAL ECONOMICS & FOREIGN TRADE</li>
          <li>COMPUTER GRAPHICS & IMAGE PROCESSING</li>
          <li>COMPILER DESIGN</li>
          <li>ALGORITHM ANALYSIS AND DESIGN</li>
        </ul>

        <!-- ee ul tag enthinann vecha namk ippa oru list idan use chyyam chumma <br> itt adikaneka nallath ithaan -->

        <!-- aa ith kainj ini profile ilek pokam baaaaaaaa -->

      </div>
    </div>
  </body>
</html>
