<!DOCTYPE html>
<html>
  <head>
    <title>StudentSpace</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/chart.js"></script>
    <script src="scripts/todo.js"></script>
  </head>
  <body>
    <div class="StudentSpace">
      <div class="header">
        <div class="left-section">StudentSpace.</div>
        <div class="middle-section">
          <input class="search-bar" type="text" placeholder="Search" />
          <img class="search-icon" src="assets/search.png" />
        </div>
        <div class="right-section">
          <div class="notification-icon">
            <img class="rs-notification" src="assets/notification.png" />
          </div>
          <div class="settings-icon">
            <img class="rs-settings" src="assets/settings.png" />
          </div>
        </div>
      </div>
      <div class="main-section">
        <div class="sidebar">
          <div class="sidebar-tabs"><a href="">My Profile</a></div>
          <div class="sidebar-tabs active"><a href="">Courses</a></div>
          <div class="sidebar-tabs"><a href="">Perfomance</a></div>
          <div class="sidebar-tabs"><a href="">Attendance</a></div>
          <div class="sidebar-tabs"><a href="">Notes</a></div>
        </div>
        <div class="student-main">
          <h2>Courses</h2>
          <div>
            <ul class="course-list">
              <li>DATA ANALYTICS</li>
              <li>INDUSTRIAL ECONOMICS & FOREIGN TRADE</li>
              <li>COMPUTER GRAPHICS & IMAGE PROCESSING</li>
              <li>COMPILER DESIGN</li>
              <li>ALGORITHM ANALYSIS AND DESIGN</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>