<!DOCTYPE html>
<html>
  <head>
    <title>StudentSpace</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home-style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <!--font keteeth aanu-->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- aa ith oru pradhana petta item aanu. matte graph ille ith run chyyumba bannath athinte files njan online vazhi link chythath aan melithe line -->
    <script src="../scripts/todo.js"></script>
  </head>
  <body>
    <div class="StudentSpace">
      <!-- logoum search barum olla oru strip ille athaan ee header  -->
      <div class="header">
        <div class="left-section">StudentSpace.</div>
        <!-- logo -->
        <div class="middle-section">
          <!-- searchbar -->
          <input class="search-bar" type="text" placeholder="Search" />
          <img class="search-icon" src="../assets/search.png" />
        </div>
        <div class="right-section">
          <!-- notification , settings button -->
          <div class="name">
            <a href="" class="name">Hii {{whois}}</a>
          </div>
          <div class="notification-icon">
            <img class="rs-notification" src="../assets/notification.png" />
          </div>
          <div class="settings-icon">
            <img class="rs-settings" src="../assets/settings.png" />
          </div>
        </div>
      </div>

      <!-- sidebar mansilayile left ile oro page ilekkum pona bar aanu sidebar -->
      <div class="sidebar">
        <div class="sidebar-tabs">
          <a href="{{ url_for('profile') }}">My Profile</a>
        </div>
        <div class="sidebar-tabs">
          <a href="{{ url_for('courses') }}"> Courses</a>
        </div>
        <div class="sidebar-tabs">
          <a href="{{ url_for('grades') }}">Perfomance</a>
        </div>
        <div class="sidebar-tabs">
          <a href="{{ url_for('attendance') }}">Attendance</a>
        </div>
        <div class="sidebar-tabs"><a href="#">Notes</a></div>
      </div>
      </div>
      <!-- ini aan main  -->
      <div class="main-section">
        <div class="chart-canvas">
          <!-- njan paranjile mate graph ath idan olla salam aanu canvas -->
          <canvas id="myChart"></canvas>
          <!-- attendanceChart koode idan ond -->
        </div>

        <!-- ith matte todo sambavam antony ne elpichekkana aan chyyo aavo -->
        <div class="main">
          <div class="main1">
            <div class="graph"></div>
            <div class="attendance"></div>
          </div>
          <div class="main2"><div class="tasks"></div></div>
        </div>

        <!-- ithrem ollu ini courses.html edk ath athikam paryan ila -->
      </div>
    </div>
  </body>
</html>
