<!DOCTYPE html>
<html>
  <head>
    <title>StudentSpace</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/index-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../scripts/todo.js"></script>
  </head>
  <body>
    <div class="StudentSpace">
      <div class="header">
        <div class="left-section">StudentSpace.</div>
        <div class="middle-section">
          <input class="search-bar" type="text" placeholder="Search" />
          <img class="search-icon" src="../assets/search.png" />
        </div>
        <div class="right-section">
          <div class="notification-icon">
            <img class="rs-notification" src="../assets/notification.png" />
          </div>
          <div class="settings-icon">
            <img class="rs-settings" src="../assets/settings.png" />
          </div>
        </div>
      </div>

      <div class="sidebar">
        <div class="sidebar-tabs"><a href="profile.html">My Profile</a></div>
        <div class="sidebar-tabs"><a href="courses.html">Courses</a></div>
        <div class="sidebar-tabs">
          <a href="templates/perfomance.html">Perfomance</a>
        </div>
        <div class="sidebar-tabs">
          <a href="attendance.html">Attendance</a>
        </div>
        <div class="sidebar-tabs"><a href="notes.html">Notes</a></div>
      </div>
      <div class="main-section">
        <div class="chart-canvas" >
          <canvas id="myChart"></canvas>
          <!-- <canvas id="attendanceChart"></canvas> -->
        </div>
        <div id="todo-container">
          <h1>Todo List</h1>
          <form>
            <input type="text" id="todo-input" placeholder="Add new todo">
            <button type="button" id="add-button" onclick="addTodo()">Add</button>
          </form>
          <ul id="todo-list">
          </ul>
        </div>
        <script src="../scripts/chart.js"></script>
      </div>
    </div>
  </body>
</html>
