<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='login-style.css') }}"
  />    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- 
  ok ith enthanu sambavam enn parayam left il olla app.py run chyumba ee file
  open aakum. ennit namma username password oke adikkum -->

  <body>
    <div class="login-box">
      <div style="display: flex; flex-direction: row; justify-content: center">
        <p>Login as</p>
        <img src="{{student}}" alt="Student Image">

      </div>
      <form>
        <select
          name="user-type"
          class="select"
          onchange="updateImage(this.value)"
        >
          <option value="student">Student</option>
          <option value="faculty">Faculty</option>
          <option value="admin">Admin</option>
        </select>

        <!-- ee select enthinann vecha aaran user enn select chyyan aanu -->

        <input type="text" name="username" placeholder="Username" required />

        <!-- ee input enn vecha namma type chyyana box aanu  -->

        <br />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <br />
        <input type="submit" value="Login" />

        <!-- ee submit button nekkumbo server ilekk namma adichath pokum ennit ath check chyym -->
        
        <!-- ah ini index.html edk -->

      </form>
    </div>
    <script>
      function updateImage(userType) {
        const image = document.getElementById("user-image");
        if (userType === "student") {
          image.src = "{{student}}";
        } else if (userType === "faculty") {
          image.src = "{{faculty}}";
        } else if (userType === "admin") {
          image.src = "{{admin}}";
        } else {
          image.src = "../images/placeholder.png";
        }
      }
    </script>
    <!-- ee script mind aakanda mate padam maarana setup inte aan  -->
  </body>
</html>
