<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <style>
    
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Reg No</th>
        <th>Name</th>
        <th>AAD</th>
        <th>CGIP</th>
        <th>CD</th>
        <th>DA</th>
        <th>IEFT</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
