<!DOCTYPE html>
<html>
  <head>
    <title>StudentSpace</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/courses-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../scripts/todo.js"></script>
  </head>
  <body>
    <div class="StudentSpace">

      <!-- dhe chechi pinneem -->

      <div class="header">
        <div class="left-section">StudentSpace.</div>
        <div class="middle-section">
          <input class="search-bar" type="text" placeholder="Search" />
          <img class="search-icon" src="../assets/search.png" />
        </div>
        <div class="right-section">
          <div class="notification-icon">
            <img class="rs-notification" src="../assets/notification.png" />
          </div>
          <div class="settings-icon">
            <img class="rs-settings" src="../assets/settings.png" />
          </div>
        </div>
      </div>

      <!-- same stuff -->

      <div class="sidebar">
        <div class="sidebar-tabs"><a href="profile.html">My Profile</a></div>
        <div class="sidebar-tabs"><a href="courses.html">Courses</a></div>
        <div class="sidebar-tabs">
          <a href="templates/perfomance.html">Perfomance</a>
        </div>
        <div class="sidebar-tabs">
          <a href="attendance.html">Attendance</a>
        </div>
        <div class="sidebar-tabs"><a href="notes.html">Notes</a></div>
      </div>

      <!-- ith full aakeet ila ..vinni kk patto ith finish chyyan eh eh  -->

      <div class="main-section">
        <div class="profile">
          <div class="profile-pic">
            <img src="C:/Users/Aswin/Pictures/Saved Pictures/Maggie.jpeg" alt="Profile Picture" />
          </div>
          <div class="profile-info">
            <h2>John Doe</h2>
            <p><strong>Roll Number:</strong> 12345</p>
            <p><strong>Class:</strong> 10th Standard</p>
            <p><strong>Address:</strong> 123, Main Street, City</p>
            <p><strong>Contact Number:</strong> 1234567890</p>
            <p><strong>Email:</strong> john.doe@example.com</p>
          </div>
        </div>
      </div>
    </div>

    <!-- upload.html edk ini -->
  </body>
</html>
