<!DOCTYPE html>
<html>
  <head>
    <title>StudentSpace</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/profile-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../scripts/todo.js"></script>
  </head>
  <body>
    <div class="StudentSpace">
      <div class="header">
        <div class="left-section">StudentSpace.</div>
        <div class="middle-section">
          <input class="search-bar" type="text" placeholder="Search" />
          <img
            class="search-icon"
            src="../assets/search.png"
            style="width: 20px; height: 20px; position: relative; right: 40px"
          />
        </div>
        <div class="right-section">
          <div class="name"><a href class="name">Hi {{name}}</a></div>
          <div class="notification-icon" style="margin-left: 24px">
            <img
              class="rs-notification"
              src="../assets/notification.png"
              style="width: 24px; height: 24px"
            />
          </div>
          <div class="settings-icon" style="margin-left: 24px">
            <img
              class="rs-settings"
              src="../assets/settings.png"
              style="width: 24px; height: 24px"
            />
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="sidebar-tabs"><a href="profile.html">My Profile</a></div>
        <div class="sidebar-tabs"><a href="courses.html">Courses</a></div>
        <div class="sidebar-tabs">
          <a href="templates/perfomance.html">Perfomance</a>
        </div>
        <div class="sidebar-tabs"><a href="attendance.html">Attendance</a></div>
        <div class="sidebar-tabs"><a href="notes.html">Notes</a></div>
      </div>

      <div class="main">
        <div class="main1">
          <div class="student-profile">
            <h2>Student Profile</h2>
            <p>Name: Gayathri Krishna</p>
            <p>Roll Number: CS05</p>
            <p>Branch: Computer Science</p>
            <p>
              Address: 123, Malabar Lane Thiruvananthapuram Kerala - 695001
              India
            </p>
            <p>Email: gayathrik@example.com</p>
            <p>Phone: +91 98765 43210</p>
          </div>
          <div class="profile-photo">
            <img src="static/assets/student.png" alt="Profile Photo" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
