<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Upload Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: "Poppins", sans-serif;
      }
      a{
        text-decoration: none;
        position: relative;
        top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="upload-box">
      <h1>Upload Attendance Sheet</h1>
      <form action="/process" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
      {% if message %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %}
      <a href="/attendance">View Attendance</a>
    </div>
  </body>
</html>
