/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

/* Layout styles */
.StudentSpace {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.left-section {
  font-weight: 800;
  font-size: 20px;
  width: 250px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.middle-section {
  flex: 1;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: end;
  flex-direction: row;
}

.notification-icon,
.settings-icon {
  margin-left: 20px;
}

.rs-notification,
.rs-settings {
  width: 24px;
  height: 24px;
}

.search-bar {
  flex: 1;
  height: 35px;
  padding-left: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  border-radius: 50px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  background-image: url("assets/search.png");
}

.search-bar::placeholder {
  font-family: "Roboto", Arial;
}

.search-icon {
  width: 22px;
  height: 22px;
  position: relative;
  right: 35px;
}

.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-tabs {
  height: 50px;
  width: 150px;
  border-radius: 45px;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  margin: 10px;
}

.sidebar-tabs a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.sidebar-tabs:hover {
  background-color: rgb(236, 236, 236);
}


.student-main {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  border-radius: 15px;
}

.student-progress {
  background-color: #95b694;
  margin: 15px;
  display: flex;
}
.student-progress-graph {
  margin: 20px;
}

.attendance-percentage{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo{
  background-color: #aebaff;
  margin: 15px;
}

.course-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.course-list li {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.course-list li:hover {
  background-color: #e7e7e7;
}

.course-list li:active {
  background-color: #d7d7d7;
}

.course-list li:first-child {
  margin-top: 10px;
}

.course-list li:last-child {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: 600;
}

