* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.StudentSpace {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 24px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.left-section {
  font-weight: 800;
  width: 248px;
  margin-right: 48px;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.middle-section {
  flex: 1;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.notification-icon,
.settings-icon {
  margin-left: 24px;
}

.rs-notification,
.rs-settings {
  width: 24px;
  height: 24px;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  border-radius: 48px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
}

.search-icon {
  width: 20px;
  height: 20px;
  position: relative;
  right: 40px;
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 92px;
  left: 0;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(126, 126, 126, 0.3);
  border-radius: 12px;
  padding-top: 16px;
}

.sidebar-tabs {
  height: 48px;
  width: 152px;
  border-radius: 48px;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  margin: 8px;
}

.sidebar-tabs a {
  text-decoration: none;
  color: black;
}

.sidebar-tabs:hover {
  background-color: rgb(236, 236, 236);
}

.main-section {
  margin-left: 220px;
  margin-top: 8px;
}
